nav{
  display: flex;
  justify-content: center;
}

.pagination{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.pagination li {
  margin: 0 1px;
  display: flex;
}

.pagination button {
  display: block;
  padding: 0.5em 1em;
  border: 1px solid white;
  border-radius: 0.2em;
  cursor: pointer;
}

.page__current{
  border: 2px solid violet;
  font-weight: bold;
  background: #2e4370;
  font-weight: 700;
  text-decoration: none
}
