.input {
  width: 200px;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  background-color: var(--input-bg);
  color: var(--text);
  border: 1px solid var(--input-border);
  box-sizing: border-box;
}