.header {
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.link {
  color: var(--nav);
  text-decoration: none;
  font-size: 26px;
}

.header nav{
  display: flex;
  gap: 20px;
}

.themeButton{
  background: none;
  border: none;
}